
.colorn {


    background-color: red;
}


.junt {

    display: flex;
    justify-content: center;
}


#grid16 {


    text-align: center;
}

.btt {

    text-align: center;
}


body {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.midElements{

    display: flex;
    gap: 30vh;
}

.allButtons{

    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    width: 450px;
    height: 450px;
    border: 1px solid gray;
  }
  